<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<div class="container">
	
		<div class="row my-5">
			<div class="list-group list-group-flush col-5">
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/category-form}"style="background-color: gainsboro;">Gerer Categories</a>
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/product-form}">Gerer Products</a>
					<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/region-form}"style="background-color: gainsboro;">Gerer Regions</a>
					<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/item-form}">Gerer Publications</a>
					
					<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/provider-form}"style="background-color: gainsboro;">Gerer Fournisseurs</a>
					<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/Cmd-List}">Gerer Commandes</a>
			</div>
		</div>

		<table class="table my-5"style="background-color:white;">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Image</th>
					<th scope="col">Titre de publication</th>
					<th scope="col">Description</th>
					<!-- <th scope="col">Region</th> -->
					<th scope="col">Numero</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${itemList}">
					<th scope="row" th:text="${item.itemId}"></th>
					<td><img th:src="${item.image}" width="300px"></td>
					<td th:text="${item.itemName}"></td>
					<td th:text="${item.itemDescription}"></td>
					
					<td th:text="${item.itemPhoneNumber}"></td>
					<td>
					<a href="#"
						th:href="@{'/manager/updateItem/'+ ${item.itemId}}"
						class="btn btn-info eBtn">Maj</a>
					<a href="#"
						th:href="@{'/manager/delete-Item/'+ ${item.itemId}}"
						class="btn btn-danger">Sup</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/manager/add-item}" method="post" enctype="multipart/form-data">
						<fieldset>
						<div class="form-group">
								<select class="custom-select" name="region">
									<option selected>Select region</option>
									<option th:each="region : ${regionList}" 
										th:value="${region.regionId}"
										th:text="${region.regionName}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="itemName">Titre du publication</label> <input type="text"
									class="form-control" id="itemName" name="itemName"
									placeholder="Titre">
							</div>

							<div class="form-group">
								<label for="itemDescription">Description</label> <input type="text"
									class="form-control" id="itemDescription" name="itemDescription"
									placeholder="Description">
							</div>
							
						
							<div class="form-group">
								<label for="file">Image</label> <input type="file"
									class="form-control" id="file" name="file">
							</div>
							
							<div class="form-group">
								<label for="itemPhoneNumber">Numero tel</label> <input type="text"
									class="form-control" id="itemPhoneNumber" name="itemPhoneNumber"
									placeholder="Numero tel">
							</div>
							
							<div class="form-actions" style="margin-top: 12px;">
								<button type="submit" class="btn btn-success">Ajout</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
<div class="modal" id="myModal" >
	<div class="modal-dialog">
		<div class="modal-content">
		
		</div>
	</div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function() {
   	$(".eBtn").on("click", function(event){
		 event.preventDefault();
		 $("#myModal").modal("show").find(".modal-content").load($(this).attr("href"));   
 });
        });
        
        function clearFilter() {
        window.location = "[[@{'/index/'}]]";
        }
       
</script>
<footer style="margin-top : 200px" th:insert="footer.html"></footer>
</body>
</html>