<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="ISO-8859-1">
<title>Online-Shop</title>
<link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body>

	<div class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
   
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Olive Oil
          </h6>
          <p>
            "Olive Oil" est une entreprise de vente d'huile d'olive de qualite en ligne, actuellement en cours de creation.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Nos Produits
          </h6>
          <p>
            <a href="#!" class="text-reset">Huile d'olive</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Huile d'olive parfumee</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Huile vegetale</a>
          </p>
         
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Aide
          </h6>
          <p>
            <a href="#!" class="text-reset">FAQ</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Mentions Legales</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Qui sommes-nous</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Route Tunis klm 5 3001 Sfax</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            OliveOil_Jarraya@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 216 24 307 509</p>
          <p><i class="fas fa-print me-3"></i> + 216 74 307 509</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
     2022 Olive Oil:
    <a class="text-reset fw-bold" href="#!">OliveOilJarraya.com</a>
  </div>
  <!-- Copyright -->
</div>

</body>
</html>