<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Fragment #1 : Headerfiles contains css and js references -->
<head th:fragment="headerfiles">
<meta charset="ISO-8859-1">
<title>Olive Oil</title>
<link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
<style th:inline="text">
body {
  background: url([[@{/images/3.jfif}]])  ;
   
  
  

  
  
}
</style>

</head>
<body>

	<!-- Fragment #2 : Navbar contains nav links -->
	<div th:fragment="nav">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
			<a class="navbar-brand" href="#">Olive Oil</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/index}"><i class="fa fa-home mr-2"></i>Nos Produits</a></li>
						
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/itemsList}">Publication</a></li>
						
						<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/providerList}">Fournisseurs</a></li>
						
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
						class="nav-link" href="#" th:href="@{/admin/index}"style="color: gold;">Admin</a></li>
					<li sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN')"
						class="nav-item"><a class="nav-link" href="#"
						th:href="@{/manager/index}"style="color: gold;">Manager</a></li>
						
				</ul>
				<ul class="nav my-auto mr-4"sec:authorize="isAuthenticated()">
					<li class="nav-item"><a href="#" class="text-info" th:href="@{/profile/cart-product}"><i class="fas fa-shopping-cart"></i></a></li>
				</ul>
				<ul class="nav my-auto mr-4"sec:authorize="isAuthenticated()">
					<li class="nav-item"><a href="#" class="nav-link" th:href="@{/profile/cmd-list}"style="color: lightgrey;">Vos Commandes</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0" form-method="post"
					th:action="@{/logout}">
					<button sec:authorize="isAuthenticated()"
						class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Se deconnecter</button>
					<button sec:authorize="isAnonymous()" th:href="@{~/login}"
						class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Se Connecte</button>
						
				</form>
				
				<form class="form-inline my-2 my-lg-0" form-method="post"
					th:action="@{/signup}">
					
					<button sec:authorize="isAnonymous()" th:href="@{~/signup}"
						class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit"margin-right:="" 4px;="" style="margin-left: 5px;";>S'inscrire</button>
						
				</form>
			</div>
			</div>
		</nav>
	</div>
	

</body>
</html>